/* Basic settings: */
:root {
    --background-image: url(./imgs/19.jpg);
    --padding: 20px;
    --background-color: rgba(152, 145, 145, 0.454);
    --border: 1px rgba(255, 255, 255, 0.282) solid;
    --border-radius: 30px;
    --font-size: 20px;
    --blur: blur(3px);
    --img: 40px;
}

* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    height: 98vh;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Bottom menu formats: */
.timer_type {
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    position: fixed;
    left: 50%;
    bottom: 40px;
    width: 600px;
    background-color: var(--background-color);
    border: var(--border);
    backdrop-filter: var(--blur);
    border-radius: var(--border-radius);
}

.type {
    flex: 1;
    padding: 15px;
    margin: 10px 0;
    background-color: #eeeeee00;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}

.type:hover {
    color: rgb(255, 255, 253);
}

/* Sidebar Formats: */
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 5px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: var(--border);
    backdrop-filter: var(--blur);
}

.navType {
    flex: 1;
    width: 60px;
    height: 60px;
    border: none;
    margin: 15px 2px;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
}

.navType:hover {
    transform: scale(1.1);
    color: white;
}

/* Timer formats: */
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    gap: 10px;
    font-size: 300px;
    color: rgb(0, 0, 0);
}

.timer div {
    display: flex;
    flex-direction: column;
}

.timer_icons {
    background-color: rgba(255, 255, 255, 0);
    /* width: 160px; */
    /* height: 60px; */
    padding: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.timer_icons:hover {
    transform: scale(1.2);
}

img {
    width: var(--img);
    height: var(--img);
}
