:root {
    --background-image: url(./bacground.jpg);
    --padding: 20px;
    --background-color: rgba(255, 255, 255, 0.234);
    --border: 1px rgba(255, 255, 255, 0.282) solid;
    --border-radius: 20px;
    --font-size: 20px;
}

* {
    box-sizing: border-box;
    font-family: Georgia, Times, "Times New Roman", serif;
}

body {
    height: 98vh;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Bottom buttons: */
.timerType {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    width: 800px;
    border: var(--border);
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
}

/* Bottom: */
.type {
    flex: 1;
    padding: 15px;
    margin: 10px;
    /* border: var(--border); */
    border: none;
    background-color: #eeeeee00;
    /* background-color: var(--background-color); */
    /* border-radius: var(--border-radius); */
    font-size: 20px;
    font-weight: bolder;
    transition: 0.2s;
    color: black;
    cursor: pointer;
}

/* Bottom Hover: */
.type:hover {
    color: rgb(5, 47, 145);
}

/* Side Bar:  */

nav {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: fit-content;
    display: flex;
    border-radius: 20px;
    padding: 5px;
    border: var(--border);
    backdrop-filter: blur(4px);
}

.navType {
    flex: 1;
    background-color: rgba(255, 0, 0, 0);
    /* background-color: var(--background-color); */
    width: 80px;
    height: 80px;
    border: none;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

.navType:hover {
    transform: scale(1.04);
    color: white;
}
