:root {
    --background-image: url(./massimiliano-morosinotto-EVIo-3PDxg8-unsplash.jpg);
    --padding: 20px;
    --background-color: rgba(152, 145, 145, 0.454);
    --border: 1px rgba(255, 255, 255, 0.282) solid;
    --border-radius: 30px;
    --font-size: 20px;
}

* {
    box-sizing: border-box;
    /* font-family: Georgia, Times, "Times New Roman", serif; */
    font-family: Verdana, sans-serif;
}

body {
    height: 98vh;
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Bottom buttons: */
.timerType {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    width: 600px;
    border: var(--border);
    backdrop-filter: blur(3px);
    border-radius: var(--border-radius);
}

/* Bottom: */
.type {
    flex: 1;
    padding: 15px;
    margin: 10px 0;
    /* border: var(--border); */
    border: none;
    background-color: #eeeeee00;
    /* background-color: var(--background-color); */
    /* border-radius: var(--border-radius); */
    font-size: 15px;
    font-weight: bolder;
    transition: 0.2s;
    color: black;
    cursor: pointer;
}

/* Bottom Hover: */
.type:hover {
    color: rgb(255, 255, 253);
}

/* Side Bar:  */

nav {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: fit-content;
    display: flex;
    border-radius: 20px;
    padding: 5px;
    border: var(--border);
    backdrop-filter: blur(4px);
}

.navType {
    flex: 1;
    background-color: rgba(255, 0, 0, 0);
    /* background-color: var(--background-color); */
    width: 60px;
    height: 60px;
    border: none;
    margin: 15px 2px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bolder;
    transition: 0.5s;
    cursor: pointer;
}

.navType:hover {
    transform: scale(1.04);
    color: white;
}

.timer {
    font-size: 300px;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 40%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.timer div {
    display: flex;
    flex-direction: column;
}

.timer div button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    margin-bottom: 2px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    width: 60px;
    height: 60px;
}

.timer div button:hover {
    transform: scale(1.2);
}

img {
    width: 40px;
    height: 40px;
}
